{% extends "base.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item">
    <a href="{% url 'core:switcher' %}">Home</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    <a href="{% url 'core:player_list' %}">Player List</a>
</li>
{% endblock %}

{% block content %}

    <h3>Players</h3>

        <div class="scroll_div">
            <table id="project-list-table" class="table table-bordered table-striped table-sm" width="100%">
                <thead class="head">
                    <tr>
                        <th>Name</th>
                        <th>Club</th>
                        <th>Position</th>
                    </tr>
                </thead>

                <tbody class="tbody">
                {% for obj in object_list %}
                    <tr>
                        <td>{{obj.name}}</td>
                        <td>{{obj.team}}</td>
                        <td>{{obj.position}}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

{% endblock %}