{% extends "base.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item">
    <a href="{% url 'core:switcher' %}">Home</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    <a href="{% url 'core:score_predictor' %}">Score Predictor</a>
</li>
{% endblock %}

{% block content %}

    <h3>Score Predictor</h3>
    <div style="height: 50px;"></div>

    <h5>Opposition Ranker</h5>
    <a href="{% url 'core:rankings' %}">Rankings</a>
    <br>
    <a href="{% url 'core:season_fixtures' %}">Matches</a>

    <h5>Score Predictor</h5>
    <a href="{% url 'core:browse_club' %}">Browse by Club</a>
    <p>Pick my Best Team</p>


{% endblock %}


